.avatar {
    width: 70px;
    border-radius: 50%;
}

.wrapper {
    margin: 10px;
}

.pagination {
    margin: 10px;
}
.pagination span {
    padding-right: 10px;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
}