.wallpaper img {
    width: 100%;
}

.avatar img {
    height: 250px;
}

.description {
    display: flex;
    margin: 20px 0 0 10px;
}

.info {
    margin-left: 20px;
}

.posts {
    margin: 50px 0 0 10px;
}

.post__wrapper {
    margin-top: 50px;
}

.post {
    margin-bottom: 10px;
}

.content {
    grid-area: content;
    background-color: #fff;
}

